body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.caixa {
    border-radius: 25px;
    box-shadow: 2px 2px 1px 1px gray;
    background-color: aliceblue;
    border-top: 6px solid #10afbf;
    overflow: auto;
    padding-bottom: 40px;
    margin-top:40px;
}

.caixaCreate {
    border-radius: 25px;
    box-shadow: 2px 2px 1px 1px gray;
    background-color: aliceblue;
    border-top:6px solid #10afbf;
    /*overflow: auto;*/
    padding-bottom: 40px;
    margin-top: 40px;
}

#VoltarLista{
   margin-left:50px;
}


.paddingtop {
    margin-top: 40px;
}
.caixaDetails {
    border-radius: 25px;
    box-shadow: 2px 2px 1px 1px gray;
    background-color: aliceblue;
    border-top: 6px solid #10afbf;
    /*overflow: auto;*/
    padding-bottom: 40px;
    margin-top: 40px;
}
.caixaDetails,h4{
    margin-left:50px;
}
.caixaDeletar {
    border-radius: 25px;
    box-shadow: 2px 2px 1px 1px gray;
    background-color: aliceblue;
    border-top: 6px solid #10afbf;
    /*overflow: auto;*/
    padding-bottom: 40px;
    padding-top:10px;
    margin-top: 40px;
}

#btnDeletar {
    margin-left:100px;
}
#VoltarListaDel {
    margin-left: 50px;
}

.caixaEdit {
    border-radius: 25px;
    box-shadow: 2px 2px 1px 1px gray;
    background-color: aliceblue;
    border-top: 6px solid #10afbf;
    /*overflow: auto;*/
    padding-bottom: 40px;
    margin-top: 40px;
}
