body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.caixa {
    border-radius: 25px;
    box-shadow: 2px 2px 1px 1px gray;
    background-color: aliceblue;
    border-top: 6px solid #10afbf;
    overflow: auto;
    padding-bottom: 40px;
    margin-top:40px;
}*/

.caixa {
    border-radius: 25px;
    box-shadow: 5px 5px 25px 5px rgba(46,61,73,0.2);
    /*box-shadow: 2px 2px 1px 1px gray;*/
    background-color: rgba(123, 183, 243, 0.2);
    border-top: 6px solid #10afbf;
    overflow: auto;
    margin-top: 40px;
    padding-bottom: 30px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #b3caee;
}

.caixaCreate {
    border-radius: 25px;
    box-shadow: 5px 5px 25px 5px rgba(46,61,73,0.2);
    /*box-shadow: 2px 2px 1px 1px gray;*/
    background-color: rgba(123, 183, 243, 0.2);
    border-top: 6px solid #10afbf;
   
    margin-top: 40px;
    padding-bottom: 30px;
}

#VoltarLista{
   margin-left:50px;
}


.paddingtop {
    margin-top: 40px;
}
.caixaDetails {
    border-radius: 25px;
    box-shadow: 5px 5px 25px 5px rgba(46,61,73,0.2);
    /*box-shadow: 2px 2px 1px 1px gray;*/
    background-color: rgba(123, 183, 243, 0.2);
    border-top: 6px solid #10afbf;
    overflow: auto;
    margin-top: 40px;
    padding-bottom: 30px;
}
.caixaDetails,h4{
    margin-left:50px;
}
.caixaDeletar {
    border-radius: 25px;
    box-shadow: 5px 5px 25px 5px rgba(46,61,73,0.2);
    /*box-shadow: 2px 2px 1px 1px gray;*/
    background-color: rgba(123, 183, 243, 0.2);
    border-top: 6px solid #10afbf;
    overflow: auto;
    margin-top: 40px;
    padding-bottom: 30px;
}

#btnDeletar {
    margin-left:100px;
}
#VoltarListaDel {
    margin-left: 50px;
}

.caixaEdit {
    border-radius: 25px;
    box-shadow: 5px 5px 25px 5px rgba(46,61,73,0.2);
    /*box-shadow: 2px 2px 1px 1px gray;*/
    background-color: rgba(123, 183, 243, 0.2);
    border-top: 6px solid #10afbf;
    /*overflow: auto;*/
    margin-top: 40px;
    padding-bottom: 30px;
}
